Repository Automattic/Gravatar-SDK-Android, pull requests merged in 2024-09, with the labels that each got.

#284 QuickEditor: Use contentPadding for avatars list
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarsSection.kt
Labels: bug

#286 QuickEditor: MediaPickerPopup enter animation
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.PopupButtonTest.popupButtonDarkMode.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.PopupButtonTest.popupButtonEllipsizedText.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.PopupButtonTest.popupButtonLightMode.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/MediaPickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/PopupButton.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/PopupButtonTest.kt
Labels: enhancement

#279 Initial implementation of the QuickEditor with the provided token
  demo-app/build.gradle.kts
  demo-app/src/main/java/com/gravatar/demoapp/ui/AvatarUpdateTab.kt
  demo-app/src/main/java/com/gravatar/demoapp/ui/activity/QuickEditorTestActivity.kt
  demo-app/src/main/java/com/gravatar/demoapp/ui/components/GravatarPasswordInput.kt
  gradle.properties
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/GravatarQuickEditor.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/QuickEditorContainer.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/storage/DataStoreTokenStorage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/storage/InMemoryTokenStorage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/storage/TokenStorage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerAction.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerEvent.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/AuthenticationMethod.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/extensions/QuickEditorExtensions.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/splash/SplashPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/splash/SplashViewModel.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/repository/AvatarRepositoryTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/storage/DataStoreTokenStorageTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/splash/SplashViewModelTest.kt
Labels: :gravatar-quickeditor

#300 Gravatar Android Demo App Internal Distribution
  .buildkite/commands/prototype-build.sh
  .buildkite/commands/publish-to-s3.sh
  .buildkite/pipeline.yml
  .buildkite/shared-pipeline-vars
  .bundle/config
  .gitignore
  .rubocop.yml
  Gemfile.lock
  fastlane/Fastfile
Labels: enhancement, tooling

#303 Downgrade kotlin to 1.9.25
  .idea/kotlinc.xml
  build.gradle.kts
  demo-app/build.gradle.kts
  gradle/libs.versions.toml
  gravatar-quickeditor/build.gradle.kts
  gravatar-ui/build.gradle.kts
  uitestutils/build.gradle.kts
Labels: enhancement, :gravatar

#293 QuickEditor: Avatar picker height
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: bug, :gravatar-quickeditor

#299 QuickEditor: Fix weird glitch when opening the QE
  demo-app/src/main/AndroidManifest.xml
  demo-app/src/main/java/com/gravatar/demoapp/MainActivity.kt
  demo-app/src/main/java/com/gravatar/demoapp/ui/AvatarUpdateTab.kt
  demo-app/src/main/java/com/gravatar/demoapp/ui/DemoGravatarApp.kt
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
Labels: enhancement

#312 QuickEditor: Gravatar OAuth scopes
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/WordPressOauth.kt
Labels: :gravatar-quickeditor

#308 Remove all deprecated classes/function from :gravatar and :gravatar-ui modules
  docs/get-started/get-started.md
  gravatar-ui/api/gravatar-ui.api
  gravatar-ui/src/main/java/com/gravatar/ui/components/ComponentState.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/LargeProfile.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/LargeProfileSummary.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/Profile.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/ProfileSummary.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/AboutMe.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/Avatar.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/DisplayName.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/Location.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/SocialMedia.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/UserInfo.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/ViewProfileButton.kt
  gravatar-ui/src/main/java/com/gravatar/ui/extensions/OldToNewModelExtensions.kt
  gravatar-ui/src/test/java/com/gravatar/gravatar/ui/ProfileTestUtils.kt
  gravatar-ui/src/test/java/com/gravatar/gravatar/ui/components/LargeProfileSummaryTest.kt
  gravatar-ui/src/test/java/com/gravatar/gravatar/ui/components/LargeProfileTest.kt
  gravatar-ui/src/test/java/com/gravatar/gravatar/ui/components/ProfileSummaryTest.kt
  gravatar-ui/src/test/java/com/gravatar/gravatar/ui/components/ProfileTest.kt
  gravatar/api/gravatar.api
  gravatar/src/main/java/com/gravatar/GravatarApiService.kt
  gravatar/src/main/java/com/gravatar/GravatarConstants.kt
  gravatar/src/main/java/com/gravatar/api/apis/ProfilesApi.kt
  gravatar/src/main/java/com/gravatar/api/models/CryptoWalletAddress.kt
  gravatar/src/main/java/com/gravatar/api/models/GalleryImage.kt
  gravatar/src/main/java/com/gravatar/api/models/Link.kt
  gravatar/src/main/java/com/gravatar/api/models/Profile.kt
  gravatar/src/main/java/com/gravatar/api/models/ProfileContactInfo.kt
  gravatar/src/main/java/com/gravatar/api/models/ProfilePayments.kt
  gravatar/src/main/java/com/gravatar/api/models/VerifiedAccount.kt
  gravatar/src/main/java/com/gravatar/di/container/GravatarSdkContainer.kt
  gravatar/src/main/java/com/gravatar/extensions/UserProfileExtensions.kt
  gravatar/src/main/java/com/gravatar/services/ProfileService.kt
  gravatar/src/test/java/com/gravatar/GravatarSdkContainerRule.kt
  gravatar/src/test/java/com/gravatar/extensions/UserProfileExtensionsTest.kt
  gravatar/src/test/java/com/gravatar/services/ProfileServiceTests.kt
Labels: :gravatar, :gravatar-ui, breaking change

#310 Remove Java desugaring requirement
  demo-app/build.gradle.kts
  docs/get-started/get-started.md
  gradle/libs.versions.toml
  gravatar-quickeditor/build.gradle.kts
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarsSection.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/repository/AvatarRepositoryTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/AvatarsSectionTest.kt
  gravatar-ui/build.gradle.kts
  gravatar/api/gravatar.api
  gravatar/build.gradle.kts
  gravatar/src/main/java/com/gravatar/di/container/GravatarSdkContainer.kt
  gravatar/src/main/java/com/gravatar/extensions/UserProfileExtensions.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Avatar.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Profile.kt
Labels: :gravatar, breaking change

#317 Remove GravatarImagePickerWrapper
  README.md
  docs/get-started/get-started.md
  gravatar-ui/api/gravatar-ui.api
  gravatar-ui/build.gradle.kts
  gravatar-ui/src/main/java/com/gravatar/ui/GravatarImagePickerWrapper.kt
  gravatar/api/gravatar.api
  gravatar/src/main/java/com/gravatar/GravatarConstants.kt
  gravatar/src/main/java/com/gravatar/di/container/GravatarSdkContainer.kt
  gravatar/src/main/java/com/gravatar/services/AvatarService.kt
  gravatar/src/main/java/com/gravatar/services/GravatarApi.kt
  gravatar/src/main/java/com/gravatar/services/ServiceUtils.kt
  gravatar/src/test/java/com/gravatar/GravatarSdkContainerRule.kt
  gravatar/src/test/java/com/gravatar/services/AvatarServiceTest.kt
Labels: :gravatar, :gravatar-ui, breaking change, tech debt

#313 Do not use data class for AvatarQueryOptions
  demo-app/src/main/java/com/gravatar/demoapp/ui/DemoGravatarApp.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/Avatar.kt
  gravatar/api/gravatar.api
  gravatar/src/main/java/com/gravatar/AvatarQueryOptions.kt
  gravatar/src/test/java/com/gravatar/AvatarUrlTest.kt
Labels: :gravatar, breaking change, tech debt

#318 [Tooling] Update GlotPress-to-Android localization mapping for Indonisian and Hebrew
  Gemfile.lock
  fastlane/Fastfile
  gravatar-quickeditor/src/main/res/values-ar/strings.xml
  gravatar-quickeditor/src/main/res/values-de/strings.xml
  gravatar-quickeditor/src/main/res/values-es/strings.xml
  gravatar-quickeditor/src/main/res/values-fr/strings.xml
  gravatar-quickeditor/src/main/res/values-he/strings.xml
  gravatar-quickeditor/src/main/res/values-id/strings.xml
  gravatar-quickeditor/src/main/res/values-in/strings.xml
  gravatar-quickeditor/src/main/res/values-it/strings.xml
  gravatar-quickeditor/src/main/res/values-iw/strings.xml
  gravatar-quickeditor/src/main/res/values-ja/strings.xml
  gravatar-quickeditor/src/main/res/values-ko/strings.xml
  gravatar-quickeditor/src/main/res/values-nl/strings.xml
  gravatar-quickeditor/src/main/res/values-pt-rBR/strings.xml
  gravatar-quickeditor/src/main/res/values-ru/strings.xml
  gravatar-quickeditor/src/main/res/values-sv/strings.xml
  gravatar-quickeditor/src/main/res/values-tr/strings.xml
  gravatar-quickeditor/src/main/res/values-zh-rCN/strings.xml
  gravatar-quickeditor/src/main/res/values-zh-rTW/strings.xml
  gravatar-quickeditor/src/main/res/values/available_languages.xml
  gravatar-ui/src/main/res/values-ar/strings.xml
  gravatar-ui/src/main/res/values-de/strings.xml
  gravatar-ui/src/main/res/values-es/strings.xml
  gravatar-ui/src/main/res/values-fr/strings.xml
  gravatar-ui/src/main/res/values-he/strings.xml
  gravatar-ui/src/main/res/values-id/strings.xml
  gravatar-ui/src/main/res/values-in/strings.xml
  gravatar-ui/src/main/res/values-it/strings.xml
  gravatar-ui/src/main/res/values-iw/strings.xml
  gravatar-ui/src/main/res/values-ja/strings.xml
  gravatar-ui/src/main/res/values-ko/strings.xml
  gravatar-ui/src/main/res/values-nl/strings.xml
  gravatar-ui/src/main/res/values-ru/strings.xml
  gravatar-ui/src/main/res/values-sv/strings.xml
  gravatar-ui/src/main/res/values-tr/strings.xml
  gravatar-ui/src/main/res/values-zh-rCN/strings.xml
  gravatar-ui/src/main/res/values-zh-rTW/strings.xml
  gravatar-ui/src/main/res/values/available_languages.xml
Labels: tooling

#315 Run lint and upload results to Github Code Scanning
  .buildkite/commands/lint.sh
  .buildkite/pipeline.yml
  .buildkite/shared-pipeline-vars
  demo-app/build.gradle.kts
  gravatar-quickeditor/src/main/res/values/available_languages.xml
  gravatar-ui/src/main/AndroidManifest.xml
  gravatar-ui/src/main/res/values/available_languages.xml
  gravatar/src/main/java/com/gravatar/services/AvatarUploadTimeoutInterceptor.kt
  lint.xml
Labels: tooling

#314 QuickEditor: Compose performance
  compose_compiler_config.conf
  demo-app/src/main/java/com/gravatar/demoapp/ui/AvatarUpdateTab.kt
  gravatar-quickeditor/build.gradle.kts
  gravatar-ui/build.gradle.kts
Labels: enhancement, :gravatar-ui, :gravatar-quickeditor

#322 Declare uCrop activity in the :quickeditor module
  gravatar-quickeditor/src/main/AndroidManifest.xml
Labels: bug, :gravatar-quickeditor

#319 QuickEditor: New OpenAPI spec
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/QuickEditorContainer.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/repository/AvatarRepository.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarsSection.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/repository/AvatarRepositoryTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/AvatarsSectionTest.kt
  gravatar/api/gravatar.api
  gravatar/openapi/api-gravatar.json
  gravatar/openapi/templates/data_class.mustache
  gravatar/src/main/java/com/gravatar/restapi/apis/AvatarsApi.kt
  gravatar/src/main/java/com/gravatar/restapi/apis/IdentitiesApi.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Avatar.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Error.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Identity.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Language.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Profile.kt
  gravatar/src/main/java/com/gravatar/restapi/models/SelectAvatar.kt
  gravatar/src/main/java/com/gravatar/restapi/models/SetEmailAvatarRequest.kt
  gravatar/src/main/java/com/gravatar/services/AvatarService.kt
  gravatar/src/main/java/com/gravatar/services/GravatarApi.kt
  gravatar/src/main/java/com/gravatar/services/IdentityService.kt
  gravatar/src/test/java/com/gravatar/services/AvatarServiceTest.kt
  gravatar/src/test/java/com/gravatar/services/IdentityServiceTest.kt
Labels: :gravatar, :gravatar-quickeditor

#325 Remove unused `authenticationBearer` code
  gravatar/src/main/java/com/gravatar/services/ServiceUtils.kt
  gravatar/src/test/java/com/gravatar/services/ServiceUtilsTest.kt
Labels: tech debt

#301 QuickEditor: Implement vertical content layout for the Avatar picker
  demo-app/src/main/java/com/gravatar/demoapp/ui/AvatarUpdateTab.kt
  gradle/libs.versions.toml
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/build.gradle.kts
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerButtonDisabled.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerVertical.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.UploadImageGridButtonTest.uploadImageGridButtonDisabled.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.UploadImageGridButtonTest.uploadImageGridButtonEnabled.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/HorizontalAvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/LazyAvatarList.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/ListEmptyStateBox.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/MediaPickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/SelectableAvatar.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/UploadImageGridButton.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/VerticalAvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/AvatarPickerContentLayout.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorParams.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/AvatarsSectionTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/UploadImageGridButtonTest.kt
Labels: new feature, :gravatar-quickeditor

#321 Bump CI toolkit to 3.7.1
  .buildkite/shared-pipeline-vars
Labels: tooling

#330 Update OpenAPI spec
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/HorizontalAvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/LazyAvatarList.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/VerticalAvatarsSection.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/repository/AvatarRepositoryTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/AvatarsSectionTest.kt
  gravatar/api/gravatar.api
  gravatar/openapi/api-gravatar.json
  gravatar/src/main/java/com/gravatar/restapi/apis/AvatarsApi.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Avatar.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Error.kt
  gravatar/src/main/java/com/gravatar/services/AvatarService.kt
  gravatar/src/test/java/com/gravatar/services/AvatarServiceTest.kt
Labels: :gravatar, :gravatar-quickeditor

#282 QuickEditor: Avatar upload error UI
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerButtonDisabled.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerVertical.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.SelectableAvatarTest.selectableAvatarFailure.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.SelectableAvatarTest.selectableAvatarLoading.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.SelectableAvatarTest.selectableAvatarNotSelected.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.SelectableAvatarTest.selectableAvatarReloadDisabled.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.SelectableAvatarTest.selectableAvatarReloadEnabled.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.SelectableAvatarTest.selectableAvatarSelected.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerAction.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerEvent.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/FailedAvatarUploadAlertDialog.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/HorizontalAvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/LazyAvatarList.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/LocalAvatar.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/SelectableAvatar.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/VerticalAvatarsSection.kt
  gravatar-quickeditor/src/main/res/values-ar/strings.xml
  gravatar-quickeditor/src/main/res/values-de/strings.xml
  gravatar-quickeditor/src/main/res/values-es/strings.xml
  gravatar-quickeditor/src/main/res/values-fr/strings.xml
  gravatar-quickeditor/src/main/res/values-in/strings.xml
  gravatar-quickeditor/src/main/res/values-it/strings.xml
  gravatar-quickeditor/src/main/res/values-iw/strings.xml
  gravatar-quickeditor/src/main/res/values-ja/strings.xml
  gravatar-quickeditor/src/main/res/values-ko/strings.xml
  gravatar-quickeditor/src/main/res/values-nl/strings.xml
  gravatar-quickeditor/src/main/res/values-pt-rBR/strings.xml
  gravatar-quickeditor/src/main/res/values-ru/strings.xml
  gravatar-quickeditor/src/main/res/values-sv/strings.xml
  gravatar-quickeditor/src/main/res/values-tr/strings.xml
  gravatar-quickeditor/src/main/res/values-zh-rCN/strings.xml
  gravatar-quickeditor/src/main/res/values-zh-rTW/strings.xml
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/AvatarsSectionTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/SelectableAvatarTest.kt
Labels: enhancement, :gravatar-quickeditor

#327 QuickEditor: Verify authorized account email matches with app's email
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/OAuthPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/OAuthUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/OAuthViewModel.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/oauth/OAuthPageTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/oauth/OAuthViewModelTest.kt
  gravatar/api/gravatar.api
  gravatar/openapi/api-gravatar.json
  gravatar/src/main/java/com/gravatar/restapi/apis/ProfilesApi.kt
  gravatar/src/main/java/com/gravatar/restapi/models/AssociatedEmail200Response.kt
  gravatar/src/main/java/com/gravatar/services/ProfileService.kt
  gravatar/src/test/java/com/gravatar/services/ProfileServiceTests.kt
Labels: enhancement, :gravatar, :gravatar-quickeditor

#331 Update compose dependencies
  gradle/libs.versions.toml
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerButtonDisabled.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListEmpty.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerVertical.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.ErrorSectionTest.errorSectionDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.ErrorSectionTest.errorSectionLight.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.PopupButtonTest.popupButtonDarkMode.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.PopupButtonTest.popupButtonEllipsizedText.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.PopupButtonTest.popupButtonLightMode.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.ProfileCardTest.profileCardDarkMode.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.ProfileCardTest.profileCardLightMode.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.SelectableAvatarTest.selectableAvatarLoading.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageLight.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.LargeProfileSummaryTest.profileDark.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.LargeProfileSummaryTest.profileLight.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.LargeProfileTest.profileDark.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.LargeProfileTest.profileLight.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.LargeProfileTest.profileWithoutDescription.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileSummaryTest.profileDark.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileSummaryTest.profileLight.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileSummaryTest.profileWithoutLocation.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileTest.profileDark.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileTest.profileLight.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileTest.profileWithEmptyDescription.png
  uitestutils/src/main/java/com/gravatar/uitestutils/RoborazziTest.kt
Labels: dependencies

#336 Quick Editor: Don't override OAuth mismatch error when the flow is restarted
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/OAuthViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/oauth/OAuthViewModelTest.kt
Labels: :gravatar-quickeditor

#338 Remove WordPress references from the OAuth variable/secrets
  .configure
  .configure-files/secrets.properties.enc
  demo-app/build.gradle.kts
  demo-app/src/main/AndroidManifest.xml
  demo-app/src/main/java/com/gravatar/demoapp/ui/AvatarUpdateTab.kt
  demo-app/src/main/java/com/gravatar/demoapp/ui/activity/QuickEditorTestActivity.kt
Labels: tech debt

#323 Replace Gson with Moshi
  gradle/libs.versions.toml
  gravatar-quickeditor/build.gradle.kts
  gravatar/build.gradle.kts
  gravatar/src/main/java/com/gravatar/di/container/GravatarSdkContainer.kt
  gravatar/src/main/java/com/gravatar/moshiadapers/URIJsonAdapter.kt
  gravatar/src/main/java/com/gravatar/restapi/models/AssociatedEmail200Response.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Avatar.kt
  gravatar/src/main/java/com/gravatar/restapi/models/CryptoWalletAddress.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Error.kt
  gravatar/src/main/java/com/gravatar/restapi/models/GalleryImage.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Interest.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Language.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Link.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Profile.kt
  gravatar/src/main/java/com/gravatar/restapi/models/ProfileContactInfo.kt
  gravatar/src/main/java/com/gravatar/restapi/models/ProfilePayments.kt
  gravatar/src/main/java/com/gravatar/restapi/models/SetEmailAvatarRequest.kt
  gravatar/src/main/java/com/gravatar/restapi/models/VerifiedAccount.kt
  gravatar/src/main/java/com/gravatar/services/ErrorType.kt
  gravatar/src/main/java/com/gravatar/services/ServiceUtils.kt
  gravatar/src/test/java/com/gravatar/services/ErrorTypeTest.kt
Labels: :gravatar, :gravatar-quickeditor, tech debt

#337 QuickEditor: Accept-Language header for Avatar requests
  gradle/libs.versions.toml
  gravatar-quickeditor/build.gradle.kts
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/QuickEditorContainer.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/AcceptedLanguageInterceptor.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/AcceptedLanguageInterceptorTest.kt
  gravatar/src/main/java/com/gravatar/di/container/GravatarSdkContainer.kt
  gravatar/src/main/java/com/gravatar/services/AvatarService.kt
  gravatar/src/main/java/com/gravatar/services/ProfileService.kt
Labels: enhancement, :gravatar, :gravatar-quickeditor
