Repository Automattic/Gravatar-SDK-Android, pull requests merged in 2024-12, with the labels that each got.

#471 Update strings translations
  gravatar-quickeditor/src/main/res/values-ar/strings.xml
  gravatar-quickeditor/src/main/res/values-de/strings.xml
  gravatar-quickeditor/src/main/res/values-es/strings.xml
  gravatar-quickeditor/src/main/res/values-fr/strings.xml
  gravatar-quickeditor/src/main/res/values-in/strings.xml
  gravatar-quickeditor/src/main/res/values-it/strings.xml
  gravatar-quickeditor/src/main/res/values-iw/strings.xml
  gravatar-quickeditor/src/main/res/values-ja/strings.xml
  gravatar-quickeditor/src/main/res/values-ko/strings.xml
  gravatar-quickeditor/src/main/res/values-nl/strings.xml
  gravatar-quickeditor/src/main/res/values-pt-rBR/strings.xml
  gravatar-quickeditor/src/main/res/values-ru/strings.xml
  gravatar-quickeditor/src/main/res/values-sv/strings.xml
  gravatar-quickeditor/src/main/res/values-tr/strings.xml
  gravatar-quickeditor/src/main/res/values-zh-rCN/strings.xml
  gravatar-quickeditor/src/main/res/values-zh-rTW/strings.xml
  gravatar-ui/src/main/res/values-ar/strings.xml
  gravatar-ui/src/main/res/values-de/strings.xml
  gravatar-ui/src/main/res/values-es/strings.xml
  gravatar-ui/src/main/res/values-fr/strings.xml
  gravatar-ui/src/main/res/values-in/strings.xml
  gravatar-ui/src/main/res/values-it/strings.xml
  gravatar-ui/src/main/res/values-iw/strings.xml
  gravatar-ui/src/main/res/values-ja/strings.xml
  gravatar-ui/src/main/res/values-ko/strings.xml
  gravatar-ui/src/main/res/values-nl/strings.xml
  gravatar-ui/src/main/res/values-pt-rBR/strings.xml
  gravatar-ui/src/main/res/values-ru/strings.xml
  gravatar-ui/src/main/res/values-sv/strings.xml
  gravatar-ui/src/main/res/values-tr/strings.xml
  gravatar-ui/src/main/res/values-zh-rCN/strings.xml
  gravatar-ui/src/main/res/values-zh-rTW/strings.xml
Labels: [Feature] Gravatar-UI, [Feature] Gravatar-Quickeditor

#472 Remove Alt text option from Avatar's contextual menu
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarMoreOptionsPickerPopup.kt
  gravatar-quickeditor/src/main/res/drawable/gravatar_avatar_more_options_alt_text.xml
  gravatar-quickeditor/src/main/res/values/strings.xml
Labels: [Feature] Gravatar-Quickeditor

#477 QuickEditor: Remove delay before notifying the avatar change
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
Labels: [Feature] Gravatar-Quickeditor, tech debt

#475 QuickEditor: Make ColorScheme configurable via GravatarColorScheme param
  demo-app/src/main/java/com/gravatar/demoapp/ui/AvatarUpdateTab.kt
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorParams.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarUiMode.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor

#476 Switch serialization library from `moshi-reflection` to `moshi-codegen`
  build.gradle.kts
  gradle/libs.versions.toml
  gravatar/api/gravatar.api
  gravatar/build.gradle.kts
  gravatar/openapi/templates/data_class.mustache
  gravatar/src/main/java/com/gravatar/di/container/GravatarSdkContainer.kt
  gravatar/src/main/java/com/gravatar/restapi/models/AssociatedResponse.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Avatar.kt
  gravatar/src/main/java/com/gravatar/restapi/models/CryptoWalletAddress.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Error.kt
  gravatar/src/main/java/com/gravatar/restapi/models/GalleryImage.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Interest.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Language.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Link.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Profile.kt
  gravatar/src/main/java/com/gravatar/restapi/models/ProfileContactInfo.kt
  gravatar/src/main/java/com/gravatar/restapi/models/ProfilePayments.kt
  gravatar/src/main/java/com/gravatar/restapi/models/SetEmailAvatarRequest.kt
  gravatar/src/main/java/com/gravatar/restapi/models/UpdateAvatarRequest.kt
  gravatar/src/main/java/com/gravatar/restapi/models/VerifiedAccount.kt
  gravatar/src/test/java/com/gravatar/services/ErrorTypeTest.kt
Labels: Enhance, dependencies, tech debt

#482 QuickEditor: Fail silently when we get a 404 during avatar deletion
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor

#467 Create docs.yml workflow to generate API documentation
  .github/workflows/docs.yml
  README.md
  build.gradle.kts
  gravatar/build.gradle.kts
Labels: tooling

#470 Add README.md file for the docs branch
  README.md
Labels: documentation

#484 QuickEditor: Modify the way PickerPopup calculates its position
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarMoreOptionsPickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/HorizontalAvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/LazyAvatarList.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/MediaPickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/PickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/SelectableAvatar.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/UploadImageButton.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/UploadImageGridButton.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/VerticalAvatarsSection.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/UploadImageGridButtonTest.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor

#486 QuickEditor: Avatar Rating - part 1
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerEvent.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarMoreOptionsPickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/LazyAvatarList.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/MediaPickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/PickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/PopupButton.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/SelectableAvatar.kt
  gravatar-quickeditor/src/main/res/drawable/gravatar_avatar_more_options_rating.xml
  gravatar-quickeditor/src/main/res/drawable/ic_checkmark.xml
  gravatar-quickeditor/src/main/res/values/strings.xml
Labels: Enhance, [Feature] Gravatar-Quickeditor

#489 QuickEditor: Fix the animation when showing/hiding AlertBanner
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor

#488 QuickEditor: Implement the Avatar's rating change in the AvatarPicker
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/repository/AvatarRepository.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerAction.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/repository/AvatarRepositoryTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar/api/gravatar.api
  gravatar/src/main/java/com/gravatar/services/AvatarService.kt
  gravatar/src/test/java/com/gravatar/services/AvatarServiceTest.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor

#492 Do not fire API call when rating and altText unchanged
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor

#509 QuickEditor: Only invoke onAvatarSelected when selected avatar is deleted
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: Bug, [Feature] Gravatar-Quickeditor

#510 Fix ViewProfileButton paddding when in Empty state
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageAuthorizing.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageLight.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileSummaryTest.profileEmptyStateDescription.png
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/ViewProfileButton.kt
  gravatar-ui/src/test/java/com/gravatar/gravatar/ui/components/ProfileSummaryTest.kt
Labels: Bug, [Feature] Gravatar-UI

#512 QuickEditor: Increase opacity of the avatar's menu button
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerButtonDisabled.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerVertical.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.SelectableAvatarTest.selectableAvatarNotSelected.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.SelectableAvatarTest.selectableAvatarSelected.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/SelectableAvatar.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor

#508 QuickEditor: Don't start the OAuth flow automatically for new users
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/QuickEditorContainer.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/storage/DataStoreProfileStorage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/storage/ProfileStorage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/OAuthViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/storage/DataStoreProfileStorageTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/oauth/OAuthViewModelTest.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor
