Repository Automattic/Gravatar-SDK-Android, pull requests merged in 2024-11, with the labels that each got.

#431 Change the domain used for prototypes
  fastlane/Fastfile
Labels: tooling

#427 QuickEditor: Check not null when getting "access_token" from OAuth flow
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/OAuthPage.kt
Labels: Bug, Feature: gravatar-quickeditor

#433 Use alias for `libs.plugins.android.library` instead of `id` in `build.gradle` files
  build.gradle.kts
  gravatar-quickeditor/build.gradle.kts
  gravatar-ui/build.gradle.kts
  gravatar/build.gradle.kts
  uitestutils/build.gradle.kts
Labels: Enhance

#437 Update the style of the progress indicator when uploading a new Avatar
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.SelectableAvatarTest.selectableAvatarLoading.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/SelectableAvatar.kt
Labels: Enhance, Feature: gravatar-quickeditor

#438 Update string value
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
Labels: Bug, Feature: gravatar-quickeditor

#441 Update README.md with mention to iOS repo
  README.md
Labels: documentation

#444 [Tooling] Add labels checker in Dangerfile
  Dangerfile
Labels: tooling

#446 Update OpenApi specifications
  gravatar/api/gravatar.api
  gravatar/openapi/api-gravatar.json
  gravatar/openapi/templates/enum_class.mustache
  gravatar/src/main/java/com/gravatar/restapi/apis/AvatarsApi.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Avatar.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Profile.kt
  gravatar/src/main/java/com/gravatar/restapi/models/Rating.kt
  gravatar/src/main/java/com/gravatar/restapi/models/UpdateAvatarRequest.kt
Labels: Enhance, Feature: gravatar-quickeditor

#450 QuickEditor: Delete avatar
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/repository/AvatarRepository.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerEvent.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarMoreOptionsPickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/HorizontalAvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/LazyAvatarList.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/PickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/PopupButton.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/SelectableAvatar.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/VerticalAvatarsSection.kt
  gravatar-quickeditor/src/main/res/drawable/gravatar_avatar_more_options_delete.xml
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/repository/AvatarRepositoryTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/AvatarsSectionTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/SelectableAvatarTest.kt
  gravatar/api/gravatar.api
  gravatar/src/main/java/com/gravatar/services/AvatarService.kt
  gravatar/src/test/java/com/gravatar/services/AvatarServiceTest.kt
Labels: new feature, [Feature] Gravatar-Quickeditor

#451 Quick Editor: Show error toast with retry action when delete avatar fails
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerAction.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: new feature, [Feature] Gravatar-Quickeditor

#456 [Tooling] Update `Dangerfile` to run Rubocop with `bundle exec`
  Dangerfile
Labels: tooling

#455 QuickEditor: Avatar image download option
  .idea/kotlinc.xml
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/src/main/AndroidManifest.xml
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/QuickEditorContainer.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/ImageDownloader.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/PermissionUtils.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerAction.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerEvent.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarMoreOptionsPickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/DownloadManagerDisabledAlertDialog.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/PermissionRationaleDialog.kt
  gravatar-quickeditor/src/main/res/drawable/gravatar_avatar_more_options_alt_text.xml
  gravatar-quickeditor/src/main/res/drawable/gravatar_avatar_more_options_delete.xml
  gravatar-quickeditor/src/main/res/drawable/gravatar_avatar_more_options_download.xml
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor

#452 QuickEditor: Confirmation dialog before deleting an avatar
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerAction.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerEvent.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarDeletionConfirmationDialog.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: new feature, [Feature] Gravatar-Quickeditor

#459 QuickEditor: Update AvatarsApi - Delete Avatar
  gravatar/openapi/api-gravatar.json
  gravatar/src/main/java/com/gravatar/restapi/apis/AvatarsApi.kt
Labels: [Feature] Gravatar-Quickeditor

#458 QuickEditor: No avatar seleted alert banner
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AlertBannerTest.alertBannerDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AlertBannerTest.alertBannerLight.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerEvent.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AlertBanner.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/AlertBannerTest.kt
Labels: new feature, [Feature] Gravatar-Quickeditor

#463 Apply tint to verified services remote icons
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/SocialMedia.kt
Labels: Bug, [Feature] Gravatar-UI, [Priority] Medium

#465 QuickEditor: Delete avatar - Don't reload profile until sucessful response
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: new feature, [Feature] Gravatar-Quickeditor

#469 QuickEditor: Fix crash when opening Avatar's contextual menu
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/HorizontalAvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/LazyAvatarList.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/PickerPopup.kt
Labels: Bug, [Feature] Gravatar-Quickeditor, [Priority] High
