Repository Automattic/Gravatar-SDK-Android, pull requests merged in 2024-10, with the labels that each got.

#339 Add docs for fetching translations
  README.md
Labels: documentation

#344 Remove appname from GravatarQuickEditorParams
  demo-app/src/main/java/com/gravatar/demoapp/ui/AvatarUpdateTab.kt
  demo-app/src/main/java/com/gravatar/demoapp/ui/activity/QuickEditorTestActivity.kt
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorParams.kt
Labels: enhancement

#347 Update API definition
  gravatar/api/gravatar.api
  gravatar/openapi/api-gravatar.json
  gravatar/src/main/java/com/gravatar/restapi/apis/ProfilesApi.kt
  gravatar/src/main/java/com/gravatar/restapi/models/AssociatedResponse.kt
  gravatar/src/test/java/com/gravatar/services/ProfileServiceTests.kt
Labels: enhancement, :gravatar-quickeditor

#348 QuickEditor: Use uCrop fork
  README.md
  docs/get-started/get-started.md
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: bug, :gravatar-quickeditor

#346 Rename Result to GravatarResult
  demo-app/src/main/java/com/gravatar/demoapp/ui/DemoGravatarApp.kt
  demo-app/src/main/java/com/gravatar/demoapp/ui/activity/QuickEditorTestActivity.kt
  docs/get-started/get-started.md
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/repository/AvatarRepository.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/OAuthViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/repository/AvatarRepositoryTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/oauth/OAuthViewModelTest.kt
  gravatar/api/gravatar.api
  gravatar/src/main/java/com/gravatar/services/AvatarService.kt
  gravatar/src/main/java/com/gravatar/services/GravatarResult.kt
  gravatar/src/main/java/com/gravatar/services/ProfileService.kt
  gravatar/src/main/java/com/gravatar/services/ServiceUtils.kt
  gravatar/src/test/java/com/gravatar/services/AvatarServiceTest.kt
  gravatar/src/test/java/com/gravatar/services/ProfileServiceTests.kt
Labels: enhancement, breaking change

#342 Quick Editor docs
  docs/get-started/get-started.md
Labels: documentation, :gravatar-quickeditor

#343 QuickEditor: Specify the proper avatar size in the Avatar Sections
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/LazyAvatarList.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/VerticalAvatarsSection.kt
Labels: bug, :gravatar-quickeditor

#350 QuickEditor: ProfileCard using forceRefresh option for Avatar
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/ProfileCard.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-ui/api/gravatar-ui.api
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/Avatar.kt
  gravatar/api/gravatar.api
  gravatar/src/main/java/com/gravatar/AvatarUrl.kt
  gravatar/src/test/java/com/gravatar/AvatarUrlTest.kt
Labels: bug, :gravatar-quickeditor

#355 QuickEditor: Remove the URL from the selected avatar callback
  demo-app/src/main/java/com/gravatar/demoapp/ui/AvatarUpdateTab.kt
  docs/get-started/get-started.md
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/GravatarQuickEditor.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerAction.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/AvatarUpdateResult.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/extensions/QuickEditorExtensions.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: :gravatar-quickeditor

#358 QuickEditor: Preventing Avatar in ProfileCard to recompose twice when QE is opened
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: bug, :gravatar-quickeditor

#353 Add sdk headers to all Gravatar REST API requests
  gravatar/api/gravatar.api
  gravatar/build.gradle.kts
  gravatar/src/main/java/com/gravatar/di/container/GravatarSdkContainer.kt
  gravatar/src/main/java/com/gravatar/services/interceptors/AuthenticationInterceptor.kt
  gravatar/src/main/java/com/gravatar/services/interceptors/AvatarUploadTimeoutInterceptor.kt
  gravatar/src/main/java/com/gravatar/services/interceptors/SdkVersionInterceptor.kt
Labels: enhancement, :gravatar

#359 Proguard rules for :gravatar module
  demo-app/build.gradle.kts
  gravatar/consumer-rules.pro
Labels: enhancement, :gravatar

#363 Pull the latests translations
  gravatar-quickeditor/src/main/res/values-ar/strings.xml
  gravatar-quickeditor/src/main/res/values-de/strings.xml
  gravatar-quickeditor/src/main/res/values-es/strings.xml
  gravatar-quickeditor/src/main/res/values-fr/strings.xml
  gravatar-quickeditor/src/main/res/values-in/strings.xml
  gravatar-quickeditor/src/main/res/values-it/strings.xml
  gravatar-quickeditor/src/main/res/values-iw/strings.xml
  gravatar-quickeditor/src/main/res/values-ja/strings.xml
  gravatar-quickeditor/src/main/res/values-ko/strings.xml
  gravatar-quickeditor/src/main/res/values-nl/strings.xml
  gravatar-quickeditor/src/main/res/values-pt-rBR/strings.xml
  gravatar-quickeditor/src/main/res/values-ru/strings.xml
  gravatar-quickeditor/src/main/res/values-sv/strings.xml
  gravatar-quickeditor/src/main/res/values-tr/strings.xml
  gravatar-quickeditor/src/main/res/values-zh-rCN/strings.xml
  gravatar-quickeditor/src/main/res/values-zh-rTW/strings.xml
Labels: :gravatar-ui, :gravatar-quickeditor

#366 Update app icon
  demo-app/src/main/res/drawable/ic_launcher_foreground.xml
  demo-app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  demo-app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  demo-app/src/main/res/mipmap-hdpi/ic_launcher.webp
  demo-app/src/main/res/mipmap-hdpi/ic_launcher_background.webp
  demo-app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  demo-app/src/main/res/mipmap-mdpi/ic_launcher.webp
  demo-app/src/main/res/mipmap-mdpi/ic_launcher_background.webp
  demo-app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  demo-app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  demo-app/src/main/res/mipmap-xhdpi/ic_launcher_background.webp
  demo-app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  demo-app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  demo-app/src/main/res/mipmap-xxhdpi/ic_launcher_background.webp
  demo-app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  demo-app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  demo-app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.webp
  demo-app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
Labels: enhancement, :demoapp

#368 Add X-Source header to Gravatar REST API request
  demo-app/src/main/java/com/gravatar/demoapp/MainActivity.kt
  docs/get-started/get-started.md
  gravatar/api/gravatar.api
  gravatar/src/main/java/com/gravatar/Gravatar.kt
  gravatar/src/main/java/com/gravatar/di/container/GravatarSdkContainer.kt
  gravatar/src/main/java/com/gravatar/services/interceptors/SdkVersionInterceptor.kt
  gravatar/src/test/java/com/gravatar/GravatarTest.kt
Labels: enhancement, :gravatar

#372 Don't remember cacheBuster on Avatar
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/Avatar.kt
Labels: bug, :gravatar-ui

#383 Implement a custom version of CenterAlignedTopBar
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.QETopBarTest.qrTopBarDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.QETopBarTest.qrTopBarLight.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/QETopBar.kt
Labels: enhancement, :gravatar-quickeditor

#385 Add @JvmOverloads to AvatarUrl.url() function
  gravatar/api/gravatar.api
  gravatar/src/main/java/com/gravatar/AvatarUrl.kt
Labels: :gravatar

#382 Migrate the ModalBottomSheet to Compose Unstyled
  gradle/libs.versions.toml
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/build.gradle.kts
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/QEDragHandle.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/extensions/QuickEditorExtensions.kt
Labels: enhancement, :gravatar-quickeditor

#384 Remove backup rules from quickeditor manifest
  docs/get-started/get-started.md
  gravatar-quickeditor/src/main/AndroidManifest.xml
Labels: enhancement, :gravatar-quickeditor

#386 Launch showSnackbar from a separate coroutineScope to not block collect()
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
Labels: bug, :gravatar-quickeditor

#387 Sort libs.versions file alphabetically
  gradle/libs.versions.toml
Labels: enhancement, dependencies

#389 Comment GH PRs with depenednecy diff
  .buildkite/pipeline.yml
Labels: tooling

#390 Use release build type for demo app prototype
  fastlane/Fastfile
Labels: tooling

#388 Downgrade Compose bom to 2024.02.00
  gradle/libs.versions.toml
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerButtonDisabled.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListEmpty.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerVertical.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.ErrorSectionTest.errorSectionDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.ErrorSectionTest.errorSectionLight.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.PopupButtonTest.popupButtonDarkMode.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.PopupButtonTest.popupButtonEllipsizedText.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.PopupButtonTest.popupButtonLightMode.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.ProfileCardTest.profileCardDarkMode.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.ProfileCardTest.profileCardLightMode.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.SelectableAvatarTest.selectableAvatarLoading.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageLight.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.LargeProfileSummaryTest.profileDark.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.LargeProfileSummaryTest.profileLight.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.LargeProfileTest.profileDark.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.LargeProfileTest.profileLight.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.LargeProfileTest.profileWithoutDescription.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileSummaryTest.profileDark.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileSummaryTest.profileLight.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileSummaryTest.profileWithoutLocation.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileTest.profileDark.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileTest.profileLight.png
  gravatar-ui/screenshotTests/roborazzi/com.gravatar.gravatar.ui.components.ProfileTest.profileWithEmptyDescription.png
Labels: dependencies

#392 Throwing GravatarException on noncatching service methods
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/repository/AvatarRepositoryTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/oauth/OAuthViewModelTest.kt
  gravatar/api/gravatar.api
  gravatar/build.gradle.kts
  gravatar/src/main/java/com/gravatar/services/AvatarService.kt
  gravatar/src/main/java/com/gravatar/services/ErrorType.kt
  gravatar/src/main/java/com/gravatar/services/GravatarException.kt
  gravatar/src/main/java/com/gravatar/services/ProfileService.kt
  gravatar/src/main/java/com/gravatar/services/ServiceUtils.kt
  gravatar/src/test/java/com/gravatar/services/AvatarServiceTest.kt
  gravatar/src/test/java/com/gravatar/services/ErrorTypeTest.kt
  gravatar/src/test/java/com/gravatar/services/ProfileServiceTests.kt
  gravatar/src/test/java/com/gravatar/services/ServiceTestUtils.kt
Labels: enhancement, :gravatar

#394 QuickEditor: Handle CAMERA permission
  demo-app/src/main/AndroidManifest.xml
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/CameraPermissionRationaleDialog.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/OAuthPage.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
Labels: bug, :gravatar-quickeditor

#396 Make onDismiss optional in the GravatarQuickEditor.show()
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/GravatarQuickEditor.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
Labels: enhancement

#402 Add 413 HTTP error - CONTENT_TOO_LARGE
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/FailedAvatarUploadAlertDialog.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar/api/gravatar.api
  gravatar/src/main/java/com/gravatar/HttpResponseCode.kt
  gravatar/src/main/java/com/gravatar/services/ErrorType.kt
  gravatar/src/test/java/com/gravatar/services/ErrorTypeTest.kt
Labels: enhancement, :gravatar, :gravatar-quickeditor

#400 QuickEditor: Missing action on gravatar icon
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/QETopBar.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/QETopBarTest.kt
Labels: enhancement

#406 Refactor ErrorType from `sealed class` to `interface`
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar/api/gravatar.api
  gravatar/src/main/java/com/gravatar/services/ErrorType.kt
Labels: enhancement, :gravatar

#407 Disable the option to override QuickEditor theme
  demo-app/src/main/java/com/gravatar/demoapp/ui/AvatarUpdateTab.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/extensions/QuickEditorExtensions.kt
  gravatar-ui/api/gravatar-ui.api
  gravatar-ui/src/main/java/com/gravatar/ui/GravatarTheme.kt
Labels: enhancement, :gravatar-quickeditor

#409 Gravatar UI: Filter hidden VerifiedAccount on Profile UI components
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/SocialMedia.kt
  gravatar-ui/src/test/java/com/gravatar/gravatar/ui/ProfileTestUtils.kt
Labels: enhancement, :gravatar-ui

#412 Refactor how MediaPickerPopup position is calculated
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/HorizontalAvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/MediaPickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/VerticalAvatarsSection.kt
Labels: bug, :gravatar-quickeditor

#410 QuickEditor: Preventing queue the Snackbars when selecting an image
  demo-app/src/main/java/com/gravatar/demoapp/MainActivity.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/extensions/QESnackbar.kt
Labels: enhancement, :gravatar-quickeditor

#415 QuickEditor: Update strings
  gravatar-quickeditor/src/main/res/values-ar/strings.xml
  gravatar-quickeditor/src/main/res/values-de/strings.xml
  gravatar-quickeditor/src/main/res/values-es/strings.xml
  gravatar-quickeditor/src/main/res/values-fr/strings.xml
  gravatar-quickeditor/src/main/res/values-in/strings.xml
  gravatar-quickeditor/src/main/res/values-it/strings.xml
  gravatar-quickeditor/src/main/res/values-iw/strings.xml
  gravatar-quickeditor/src/main/res/values-ja/strings.xml
  gravatar-quickeditor/src/main/res/values-ko/strings.xml
  gravatar-quickeditor/src/main/res/values-nl/strings.xml
  gravatar-quickeditor/src/main/res/values-pt-rBR/strings.xml
  gravatar-quickeditor/src/main/res/values-ru/strings.xml
  gravatar-quickeditor/src/main/res/values-sv/strings.xml
  gravatar-quickeditor/src/main/res/values-tr/strings.xml
  gravatar-quickeditor/src/main/res/values-zh-rCN/strings.xml
  gravatar-quickeditor/src/main/res/values-zh-rTW/strings.xml
  gravatar-ui/src/main/res/values-zh-rTW/strings.xml
Labels: :gravatar-quickeditor

#413 Update to the latest OpenAPI spec
  config/detekt/detekt.yml
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/repository/AvatarRepository.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/repository/AvatarRepositoryTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar/api/gravatar.api
  gravatar/openapi/api-gravatar.json
  gravatar/src/main/java/com/gravatar/restapi/apis/AvatarsApi.kt
  gravatar/src/main/java/com/gravatar/services/AvatarService.kt
  gravatar/src/test/java/com/gravatar/services/AvatarServiceTest.kt
Labels: enhancement, :gravatar, :gravatar-quickeditor

#421 Bump navigation-compose to 2.8.3
  gradle/libs.versions.toml
Labels: dependencies
