Repository Automattic/Gravatar-SDK-Android, pull requests merged in 2025-01, with the labels that each got.

#501 Quick Editor - Alt text feature foundations
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.altTextPageLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.altTextPageLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.emptyAltTextPageLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.emptyAltTextPageLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerButtonDisabled.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListEmpty.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.CtaSectionTest.ctaSectionDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.CtaSectionTest.ctaSectionLight.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.CtaSectionTest.ctaSectionNoTitleLight.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageLight.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextAction.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextEvent.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerAction.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerEvent.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AvatarMoreOptionsPickerPopup.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/QEButton.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/navigation/EditorNavDestinations.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/alttext/AltTextPageTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/alttext/AltTextViewModelTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: new feature, [Feature] Gravatar-Quickeditor

#521 Fix no avatar selected banner shown when avatar list empty
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: Bug, [Feature] Gravatar-Quickeditor

#520 QuickEditor: AltText - Save the avatars list locally in the AvatarsRespository instead of in the `AvatarPickerViewModel`
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/QuickEditorContainer.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/repository/AvatarRepository.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/storage/AvatarStorage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/AvatarTestUtils.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/repository/AvatarRepositoryTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/storage/AvatarStorageTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor

#524 Handle the back navigation manually in the QuickEditor
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
Labels: Bug

#532 Change screenshot threshold to 0.005
  uitestutils/src/main/java/com/gravatar/uitestutils/RoborazziTest.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor

#528 QuickEditor: Clickable alt text help link brings to support page
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.altTextPageLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.altTextPageLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.emptyAltTextPageLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.emptyAltTextPageLoadedDark.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextPage.kt
  gravatar-quickeditor/src/main/res/drawable/gravatar_alt_text_help.xml
Labels: new feature, [Feature] Gravatar-Quickeditor

#531 QuickEditor: Load Avatar object from `AvatarsRepository` in `AltTextViewModel`
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/data/repository/AvatarRepository.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextAction.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorPage.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/AvatarTestUtils.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/repository/AvatarRepositoryTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/alttext/AltTextPageTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/alttext/AltTextViewModelTest.kt
Labels: [Feature] Gravatar-Quickeditor, tech debt

#529 Alt text: Alt text counter
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.altTextPageLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.altTextPageLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.emptyAltTextPageLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.emptyAltTextPageLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.initialAltTextPageLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.initialAltTextPageLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.updatedAltTextPageLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.updatedAltTextPageLoadedDark.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/alttext/AltTextPageTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/alttext/AltTextViewModelTest.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor

#530 Alt Text: Add placeholder for alt text input field
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.emptyAltTextPageLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.alttext.AltTextPageTest.emptyAltTextPageLoadedDark.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextPage.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
Labels: Enhance, [Feature] Gravatar-Quickeditor

#535 QuickEditor: Add enter/exit transitions to AltText and AvatarSelection composables
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorPage.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor

#534 Fix the QE recomposition when selecting an avatar
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorPage.kt
Labels: Bug, [Feature] Gravatar-Quickeditor

#536 Make sure the save button can always be reached
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextPage.kt
Labels: Bug, [Feature] Gravatar-Quickeditor

#538 Document permissions used by the QuickEditor
  docs/get-started/get-started.md
Labels: documentation

#537 Quick Editor: AltText - Cancel button in TopBar
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageAuthorizing.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageLight.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/alttext/AltTextPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/QEPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/QETopBar.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/OAuthPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/splash/SplashPage.kt
  gravatar-quickeditor/src/main/res/values/strings.xml
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/QETopBarTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/oauth/OAuthPageTest.kt
Labels: new feature, [Feature] Gravatar-Quickeditor

#540 Make working with cache busting easier
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/ProfileCard.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/time/Clock.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-ui/api/gravatar-ui.api
  gravatar-ui/src/main/java/com/gravatar/ui/components/ComponentState.kt
  gravatar-ui/src/main/java/com/gravatar/ui/components/atomic/Avatar.kt
Labels: Bug, [Feature] Gravatar-Quickeditor

#541 QuickEditor: Make sure the QE works well when the app get's killed during the OAuth flow
  demo-app/src/main/AndroidManifest.xml
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/src/main/AndroidManifest.xml
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/GravatarOAuthActivity.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/OAuthPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/OAuthViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/oauth/OAuthViewModelTest.kt
Labels: Bug, [Feature] Gravatar-Quickeditor

#544 Deprecate GravatarQuickEditorActivity
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/GravatarQuickEditorActivity.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/oauth/GravatarOAuthActivity.kt
Labels: [Feature] Gravatar-Quickeditor, tech debt

#545 Adam/543 docs
  docs/get-started/usage-quickeditor.md
  docs/version-migrations/2.x-2.3.0.md
Labels: documentation

#547 Update translations
  gravatar-quickeditor/src/main/res/values-ar/strings.xml
  gravatar-quickeditor/src/main/res/values-de/strings.xml
  gravatar-quickeditor/src/main/res/values-es/strings.xml
  gravatar-quickeditor/src/main/res/values-fr/strings.xml
  gravatar-quickeditor/src/main/res/values-in/strings.xml
  gravatar-quickeditor/src/main/res/values-it/strings.xml
  gravatar-quickeditor/src/main/res/values-iw/strings.xml
  gravatar-quickeditor/src/main/res/values-ja/strings.xml
  gravatar-quickeditor/src/main/res/values-ko/strings.xml
  gravatar-quickeditor/src/main/res/values-nl/strings.xml
  gravatar-quickeditor/src/main/res/values-pt-rBR/strings.xml
  gravatar-quickeditor/src/main/res/values-ru/strings.xml
  gravatar-quickeditor/src/main/res/values-sv/strings.xml
  gravatar-quickeditor/src/main/res/values-tr/strings.xml
  gravatar-quickeditor/src/main/res/values-zh-rCN/strings.xml
  gravatar-quickeditor/src/main/res/values-zh-rTW/strings.xml
Labels: Translations

#546 Update the Release Process documentation
  README.md
Labels: documentation

#552 Update translations
  gravatar-quickeditor/src/main/res/values-de/strings.xml
  gravatar-quickeditor/src/main/res/values-it/strings.xml
  gravatar-quickeditor/src/main/res/values-ru/strings.xml
Labels: Translations

#557 Set the cache buster value in the initial state
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
Labels: Bug, [Feature] Gravatar-Quickeditor

#558 Show all avatars in the Profile card regardless of the rating
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/ProfileCard.kt
Labels: Bug, [Feature] Gravatar-Quickeditor

#562 UI: Update the placholder avatar for empty profile
  gravatar-ui/src/main/res/drawable/gravatar_empty_profile_avatar.xml
  gravatar-ui/src/main/res/drawable/gravatar_empty_profile_avatar_dark.xml
Labels: Enhance, [Feature] Gravatar-UI

#563 Remove the Claim profile button when Empty state in the profile card
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageAuthorizing.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.oauth.OAuthPageTest.oAuthPageLight.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/ProfileCard.kt
Labels: Bug, [Feature] Gravatar-Quickeditor

#564 Decrease the start padding around the x button in the AlertBanner
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AlertBannerTest.alertBannerDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AlertBannerTest.alertBannerLight.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/AlertBanner.kt
Labels: Bug, [Feature] Gravatar-Quickeditor

#566 Implement extension function to remove orphan words
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.QESectionMessageTest.qeTextTestNoOrphan.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/StringExtensions.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/QESectionMessage.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/StringExtensionsTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/QESectionMessageTest.kt
Labels: Enhance, [Feature] Gravatar-Quickeditor
