Repository Automattic/Gravatar-SDK-Android, pull requests merged in 2025-04, with the labels that each got.

#601 Update release-toolkit to latest version
  Gemfile
  Gemfile.lock
Labels: tooling

#602 Adam/remove retrofit
  build-logic/convention/src/main/kotlin/GravatarOpenApiGeneratorConventionPlugin.kt
  config/detekt/detekt.yml
  gradle/libs.versions.toml
  gravatar/build.gradle.kts
  gravatar/openapi/api-gravatar.json
  gravatar/openapi/templates/infrastructure/ApiAbstractions.kt.mustache
  gravatar/openapi/templates/infrastructure/PartConfig.kt.mustache
  gravatar/openapi/templates/infrastructure/RequestConfig.kt.mustache
  gravatar/openapi/templates/infrastructure/RequestMethod.kt.mustache
  gravatar/openapi/templates/jvm-common/infrastructure/Serializer.kt.mustache
  gravatar/openapi/templates/jvm-common/infrastructure/URIAdapter.kt.mustache
  gravatar/openapi/templates/libraries/jvm-okhttp/api.mustache
  gravatar/openapi/templates/libraries/jvm-okhttp/infrastructure/ApiClient.kt.mustache
  gravatar/openapi/templates/libraries/jvm-okhttp/infrastructure/ApiResponse.kt.mustache
  gravatar/openapi/templates/libraries/jvm-retrofit2/api.mustache
  gravatar/src/main/java/com/gravatar/di/container/GravatarSdkContainer.kt
  gravatar/src/main/java/com/gravatar/restapi/apis/AvatarsApi.kt
  gravatar/src/main/java/com/gravatar/restapi/apis/ProfilesApi.kt
  gravatar/src/main/java/com/gravatar/restapi/infrastructure/ApiAbstractions.kt
  gravatar/src/main/java/com/gravatar/restapi/infrastructure/ApiClient.kt
  gravatar/src/main/java/com/gravatar/restapi/infrastructure/ApiResponse.kt
  gravatar/src/main/java/com/gravatar/restapi/infrastructure/PartConfig.kt
  gravatar/src/main/java/com/gravatar/restapi/infrastructure/RequestConfig.kt
  gravatar/src/main/java/com/gravatar/restapi/infrastructure/RequestMethod.kt
  gravatar/src/main/java/com/gravatar/restapi/infrastructure/Serializer.kt
  gravatar/src/main/java/com/gravatar/restapi/infrastructure/URIAdapter.kt
  gravatar/src/main/java/com/gravatar/services/AvatarService.kt
  gravatar/src/main/java/com/gravatar/services/GravatarApi.kt
  gravatar/src/main/java/com/gravatar/services/HttpException.kt
  gravatar/src/main/java/com/gravatar/services/ProfileService.kt
  gravatar/src/test/java/com/gravatar/GravatarSdkContainerRule.kt
  gravatar/src/test/java/com/gravatar/services/AvatarServiceTest.kt
  gravatar/src/test/java/com/gravatar/services/ErrorTypeTest.kt
  gravatar/src/test/java/com/gravatar/services/ProfileServiceTests.kt
Labels: dependencies, [Feature] Gravatar

#604 Remove Retrofit dependency from the :quickeditor module
  README.md
  gradle/libs.versions.toml
  gravatar-quickeditor/build.gradle.kts
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/data/AcceptedLanguageInterceptorTest.kt
Labels: dependencies, [Feature] Gravatar-Quickeditor

#605 Remove unnecessary dependencies from the :ui module
  gravatar-ui/build.gradle.kts
Labels: dependencies, [Feature] Gravatar-UI

#606 Clean up the README.md file to focus on 3rd party devs
  README.md
  docs/get-started/get-started.md
  docs/sdk-technical-details/sdk-techincal-details.md
Labels: documentation

#610 Properly init in-memory usage when restoring the state
  demo-app/src/main/java/com/gravatar/demoapp/ui/AvatarUpdateTab.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/bottomsheet/GravatarQuickEditorBottomSheet.kt
Labels: Bug, [Feature] Gravatar-Quickeditor

#612 Move the Upload Image button outside the border to match new designs
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerButtonDisabled.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListEmpty.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.components.AvatarsSectionTest.avatarPickerVerticalEmpty.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/HorizontalAvatarsSection.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/ListEmptyStateBox.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/components/VerticalAvatarsSection.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/components/AvatarsSectionTest.kt
Labels: [Feature] Gravatar-Quickeditor

#615 Make the top views of the QE be reused by the scopes
  gravatar-quickeditor/api/gravatar-quickeditor.api
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoaded.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.avatarpicker.AvatarPickerTest.avatarPickerListLoadedDark.png
  gravatar-quickeditor/screenshotTests/roborazzi/com.gravatar.quickeditor.ui.editor.QuickEditorTest.quickEditorWithAvatarPicker.png
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPicker.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModel.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/GravatarQuickEditorPage.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/QuickEditor.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/QuickEditorEvent.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/QuickEditorUiState.kt
  gravatar-quickeditor/src/main/java/com/gravatar/quickeditor/ui/editor/QuickEditorViewModel.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/avatarpicker/AvatarPickerViewModelTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/editor/QuickEditorTest.kt
  gravatar-quickeditor/src/test/java/com/gravatar/quickeditor/ui/editor/QuickEditorViewModelTest.kt
Labels: [Feature] Gravatar-Quickeditor
